/*   StyleSheet Personalizado  */

/* Não tenho conhecimento, muita coisa foi pesquisando, preciso decorar tudo e saber colocar nos lugares corretos,
nao sou a melhor pessoa do mundo fazendo isso, mas a meta e ser bom um dia nisso */

/* Variáveis */
:root{
 --color-primary:#FF6819;
 --color-secondary:#282828!important;
 --color-white:#ffffff;
 --font:'Poppins',sans-serif;
 --font-secondary:'Satisfy',cursive;   
}

/* Classes personalizadas */

.bg-primary{
 background-color:var(--color-primary);
}

.bg-secondary{
    background-color:var(--color-secondary)!important;
}

.color-primary{
    color:var(--color-primary);
}

.color-secondary{
    color:var(--color-secondary);
}

body{
    font-family: var(--font);
}


a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #23232e;
    height: 8vh;
}

main {
    background: url("backgroundnavbar.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block; 
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
  transform: rotate(-45deg) translate(-8px, 8px);

}

.mobile-menu.active .line2 {
 opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(-45deg) translate(-5px, -7px);
}

/* banner */

#banner{
    width: 100%;
    position: relative;
}

#banner .swiper-container{
    width: 100%;
    height: 90vh;
}

#banner .swiper-container-swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#banner .swiper-container-swiper-slide .caption{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    padding: 0 6em;
    font-family: var(--font);
   
}

#banner .swiper-container .swiper-slide .caption h2{
    color: var(--color-primary);
    font-family: var(--font-secondary);
}
#banner .swiper-container .swiper-slide .caption h1{
    font-size: 4em;
    color:#000000;
    width: 50%;
    font-weight: 900;
    text-transform: capitalize;

}

#banner .swiper-container .swiper-slide .caption span{
    color: var(--color-primary);
    font-weight: 600;
}

#banner .swiper-container .swiper-slide .caption span i.fas{
   width: 40px;
   height: 40px;
   background-color: var(--color-white);
   text-align: center;
   line-height: 30px;
   border-radius: 100%;
   margin-right: 10px;
   animation: animation-play-btn 1s infinite alternate;
}

@keyframes animation-play-btn{
    from{

        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.4);
    }
    to{
        box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.4);
    }
}

/* Area de Pesquisa */

#search{
    width: 100%;
    border: 1px solid black;
}
#search .search-option{
    width: 100%;
    display: flex;
}

#search .search-option.item{
    align-self: center;
    padding: 30px 20px;
    border-left: 1px solid #cccccc;
}

#search .search-option.item input{
    border: none;
    padding:0!important;
}

#search .search-option.item input:focus{
    border: none;
    box-shadow: none;
}

#search .search-option.item:nth-child(4) {
    padding: 0px;
    
}

#search .search-option.item:nth-child(4) .btn-theme{
    padding: 40px 20px;
    background-color: var(--color-primary);
    border: none;
    color:var(--color-white)
}

/* Sessão destaque */
#featured{
    width: 100%;
    padding: 50px 0;
}

#featured .title{
    text-align: center;
}

#featured .title .title-primary{
    color: var(--color-primary);
    font-family: var(--font-secondary);
    position: relative;
}

#featured .title .title-primary::before{
    content: 'featured';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%, -50%);
    font-size: 120%;
    color: #000000;
    opacity: 0.4;
    z-index: 1;
}

#featured .title .title-secondary{
    font-weight: 700;
}

#featured .card-design{
    width: 100%;
}


#featured .card-design .image{
 position: relative;
 width: 100%;
 height: 320px;
 z-index: -1;
}

#featured .card-design .image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
   }

#featured .card-design .card-text{
  background-color: var(--color-white) !important;
  width: 90%;
  margin: auto;
  margin-top: -10px; 
  padding: 20px;
  display: flex;
  justify-content: space-between; 
  z-index: 9; 
}

#featured .card-design .card-text.item{
  align-self: center;
}
   
#featured .card-design .card-text .item span{
    font-size: 0.8em;
}

#featured .card-design .card-text .item span i.fas{
    font-size: 0.8em;
    color: var(--color-primary);
    margin-right: 5px;
}

#featured .card-design .card-text .item .btn{
    margin: 0;
    padding: 8px 15px;
    box-shadow: none;
    color: var(--color-primary);
    background-color: #ff691944;
}
    
